# Compiled and build artifacts
/vendor/
/storage/logs/*.log
/bootstrap/cache/*
/public/hot

# Dependencies
/node_modules/

# Environment
.env
.env.local
.env.*.local

# IDEs and Editors
/.idea/
/.vscode/
*.swp
*.swo

# OS Files
.DS_Store
Thumbs.db